
AnalyzingMusicTrends/train_triplets.txt
airbnb amsterdam/archive/calendar.csv
airbnb amsterdam/archive/listings.csv
airbnb amsterdam/archive/listings_details.csv
airbnb amsterdam/archive/neighbourhoods.csv
airbnb amsterdam/archive/neighbourhoods.geojson
airbnb amsterdam/archive/reviews.csv
airbnb amsterdam/archive/reviews_details.csv
flight_price/archive/Data_Train.xlsx
*.xlsx
temp/credit card archive/creditcard.csv
